/* Basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    width: 100%;
    background: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
    color: white;
}
h1 {
    color: white;
    font-family: var(--font-pixel);
    margin: 0;
    font-size: 40px;
}
h3 {
    color: white;
    font-family: var(--font-pixel);
    margin: 0;
    font-size: 16px;
}
h4 {
    color: white;
    font-family: var(--font-pixel);
    margin: 0;
    font-size: 16px;
}
span {
    color: white;
    font-family: var(--font-poppins);
    margin: 0;
    font-size: 16px;
}
/* Common components styles */
.container {
    display: grid;
    padding: 30px;
}
/* Header style */
.head {
    position: relative;
    width: 100%;
    .head-background {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: drop-shadow(5px 5px 3px rgba(255, 255, 255, 0.7));
    }
    .head-logo {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 285px;
        height: auto;
        box-shadow: 3px 5px 6px black
    } 
}/* Subheader style */
.subhead {
    position: relative;
    width: 100%;
    background-color: rgba(237,51,59);
    min-height: 100px;
    box-shadow: 0px 5px 3px rgba(255, 255, 255, 0.7);
    a {
        cursor: pointer;
        .head-logo {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 160px;
            height: auto;
            box-shadow: 3px 5px 6px black
        } 
    }
}
/* Navbar style */
.navbar {
    display: flex;
    justify-content: center;
    .list-years {
        display: inline-flex;
        border-radius: 12px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);  
        li {
            list-style: none;
            margin: 0 8px;
            position: relative;
            cursor: pointer;
            white-space: nowrap;
            font-family: var(--font-honk);
            &::before {
                content: " ";
                position: absolute;
                top: 0;
                left:0;
                height:100%;
                width: 100%;
                z-index: -1;
                transition: .2s;
                border-radius: 6px;
            }
            &.selected {
                color: black;
                &::before {
                    background: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%);
                        box-shadow: 0px 3px 20px 0px black;
                        transform: scale(1.5);
                }
            }
        }
    }
} 

/* Card style */
.card {
    display: flex;
    max-width: 350px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.7);
    text-decoration: none;
    .cover {
        margin-right: 10px;
        border-radius: 6px;
    }
    .info {
        display: grid;
        align-content: space-between;
        width: 200px;
        h1 {
            font-size: 16px;
            margin-bottom: 5px;
        }
        .platform {
            display: inline-block;
            width: 80px;
            height: 15px;
            background-color: var(--platform-color, white);
            -webkit-mask-image: var(--icon);
            mask-image: var(--icon);
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
        }
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid rgba(179, 62, 102, 1);
        outline: 2px solid rgba(179, 62, 102, 1);
        box-shadow: 10px 10px 10px 0px rgba(255, 255, 255, 0.7);
        h1 {
            color: black;
        }
        .platform {
        background-color: var(--platform-color, black);
        }
        .date {
            color: black;
        }
    }
}
/* Review style*/
.review-header {
    display: flex;
    width: auto;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.7);
    text-decoration: none;
    margin-bottom: 20px;
    .cover {
        object-fit: cover;
        margin-right: 20px;
    }
    .info-game {
        display: grid;
        align-content: space-between;
        width: 100%;
        .platform {
            display: inline-block;
            width: 190px;
            height: 35px;
            background-color: var(--platform-color, white);
            -webkit-mask-image: var(--icon);
            mask-image: var(--icon);
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
        }
        .releaseDate {
            display: ruby;
            align-items: center;
            .date {
                margin-left: 10px;
            }
        }        
        .finishedAt {
            display: ruby;
            display: ruby;
            align-items: center;
            .date {
                margin-left: 10px;
            }
        }
    }
}
.review-body {
    display: grid;
    gap: 20px;
    background-color: rgba(0, 0, 0, .4);
    border: 1px solid white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.7);
    p {
        display: grid;
        font-size: 18px;
        font-family: var(--font-poppins);
        img {
            justify-self: center;
            min-width: 300px;
            max-width: 500px;
            border-radius: 12px;
            border: 1px solid white;
        }
    }
}

/* Summary style*/
.summary-header {
    display: inline-flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.7);
    text-decoration: none;
    margin-bottom: 20px;
    .title {
        display: inline-flex;
        align-items: center;
        .stars{
            .star {
                display: inline-flex;
                margin: 0 2px;
                background-color: var(--platform-color, white);
                -webkit-mask-image: var(--icon);
                mask-image: var(--icon);
                -webkit-mask-size: contain;
                mask-size: contain;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
            }
        }
    }
}
.summary-body {
    display: grid;
    gap: 20px;
    background-color: rgba(0, 0, 0, .4);
    border: 1px solid white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.7);
    p {
        font-size: 18px;
        font-family: var(--font-poppins);
        img {
            min-width: 200px;
            max-width: 300px;
            border-radius: 12px;
            border: 1px solid white;
        }
    }
}

/* Mobile style */
@media (max-width: 600px) {
    /* Header style */
    .head {
        .head-background{
            min-height: 120px;
            stroke: #646464;
            stroke-width: 1px;
            stroke-dasharray: 2,2;
            stroke-linejoin: round;
        }
        .head-logo {
            max-width: 115px;
            border: 1px solid white;
        } 
    }
    /* Navbar style */
    .navbar {
        .list-years {
            gap: 10px;
            margin-top: 20px;
            li {
                font-size: 20px;
            }
        }
    }
    /* Home page style */
    .list-games {
        display: block;
        padding: 15px;
    }

    /* Card style */
    .card {
        margin-bottom: 20px;
        max-width: 360px;
        .info {
            h1 {
                font-size: 16px;
            }        
            h4 {
                font-size: 14px;
            }

        }

    }

    /* Review style*/
    .container {
        padding: 30px 15px;
    }
    .review-header {
        width: auto;
        height: auto;
        padding: 15px;
        h1 {
            font-size: 15px;
        }
        span {
            font-size: 10px;
        }
        .cover {
            width: clamp(120px, 25vw, 200px);
            height: clamp(150px, 33vw, 260px);
            object-fit: contain;
            margin-right: 15px;
        }
        .info-game {
            gap: 10px;
            .platform {
                height: 20px;
            }
            .releaseDate {
                .date {
                    margin-left: 5px;
                }
            }        
            .finishedAt {
                .date {
                    margin-left: 5px;
                }
            }
        }
    }
    .review-body {
        p {
            font-size: 14px;
            img {
                max-width: 300px;
                border-radius: 12px;
                border: 1px solid white;
            }
        }
    }
    /* Summary style */
    .summary-header {
        h1 {
            font-size: 23px;
            margin: 0 10px;
        }
        .stars{
            .star {
                width: 20px;
                height: 20px;
                margin: 0 2px;
            }
        }
    }
    .summary-body {
        p {
            font-size: 14px;
            img {
                max-width: 300px;
                border-radius: 12px;
                border: 1px solid white;
            }
        }
    }
}
/* Web style */
@media (min-width: 601px) {
    /* Header style */
    .head {
        .head-logo {
            max-width: 285px;
            border: 2px solid white;
        }
    }
    /* Navbar style */
    .navbar {
        .list-years {
            gap: 40px;
            margin-top: 50px;
            li {
                font-size: 32px;
                /* Only hover behaviour in web */
                &:hover {
                    cursor: pointer;
                    color: black;
                    &::before {
                        background: linear-gradient(to bottom, #e8edec, #d2d1d3);
                            box-shadow: 0px 3px 20px 0px black;
                            transform: scale(1.5);
                    }
                }
            }
        }
    }
    /* Home page style */
    .list-games {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        gap: 20px;
        padding: 30px;
    }
    /* Review style */
    .review-body {
        p {
            img {
                min-width: 300px;
                max-width: 500px;
            }
        }
    }
    /* Summary style */
    .summary-header {
        h1 {
            margin: 0 20px;
        }
        .stars{
            .star {
                width: 30px;
                height: 30px;
                margin: 0 2px;
            }
        }
    }
}

