---
import { Image } from 'astro:assets';
import hg_logo from '../../public/hg_logo.png';

const base = import.meta.env.BASE_URL;
---

<html lang="es">
	<style>
		.head {
			display: grid;
  			justify-items: center;
		}
	</style>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href={`${base}hg_favicon.ico`} />
		<meta name="viewport" content="width=device-width" />
		<title>HinoGames</title>
	</head>
	<body>
		<div class="head">
			<Image src={hg_logo} alt="HinoGamesLog" width="800" height="318"/>
			<br>
			<h1>Now in development...</h1>
			<!-- TODO: Hacerlo dinamico por entorno, ahora es prueba solo -->
			<!-- <a href="https://ahinojal.github.io/hinogames-log/reviews/2022/god-of-war/">God of War - PS4</a> -->
			<!-- <a href="http://localhost:4321/hinogames-log/reviews/2022/god-of-war/">God of War - PS4</a> -->
		</div>
	</body>
</html>
