---
import '../styles/global.css'

import { Image, Font } from 'astro:assets';
import { getCollection } from 'astro:content';

import hg_logo from '../../public/hg_logo.png';
import Card from '../components/card.astro';

const base = import.meta.env.BASE_URL;

const reviews = await getCollection('reviews');
const juego = reviews[0];
---

<html lang="es">
	<style>
		.head {
			height: 318px; /* TODO: Cambiar a 200px cuando la imagen la podamos hacer mas q*/
			width: 100%;
			display: grid;
  			justify-items: center;
			background-color: rgb(252, 0, 24);
			box-shadow: 0px 10px 20px 8px rgba(255, 255, 255, 0.7);
		}
		.patata {
			display: grid;
  			justify-items: center;
			margin-top: 50px;
		}	
		.container {
			display: grid;
    		grid-template-columns: auto auto auto;
  			gap: 20px;
		}
	</style>
	<head>
		<meta charset="utf-8" />
		<Font cssVariable="--font-pixel"/>
		<link rel="icon" href={`${base}hg_favicon.ico`} />
		<meta name="viewport" content="width=device-width" />
		<title>HinoGames</title>
	</head>
	<body>
		<div class="head">
			<Image src={hg_logo} alt="HinoGamesLog" width="800" height="318"/>
		</div>
		<div class="patata">
			<h1>Now in development...</h1>
		</div>
		<div class="container">
			{reviews.map((game) => (
					<Card game={game}></Card>
				))
			}
		</div>
	</body>
</html>
